<html>
  <head>
    <link rel="stylesheet" href="app.component.css">
    <title>Draw</title>
  </head>

  <body>
    <div class="container">
      <div class="tools">
        <!-- Shapes -->
        <div class="button" title="square" (click)="add('square')">
          <img ngSrc="../assets/square.svg" alt="fail" height="16" width="16"/>
        </div>

        <div class="button" title="circle" (click)="add('circle')">
          <img ngSrc="../assets/circle.svg" alt="fail" height="16" width="16"/>
        </div>

        <div class="button" title="rectangle" (click)="add('rectangle')">
          <img ngSrc="../assets/rectangle.svg" alt="fail" height="48" width="48"/>
        </div>

        <div class="button" title="lineSegment" (click)="add('lineSegment')">
          <img ngSrc="../assets/line.svg" alt="fail" height="24" width="24"/>
        </div>

        <div class="button" title="triangle" (click)="add('triangle')">
          <img ngSrc="../assets/triangle.svg" alt="fail" height="16" width="18"/>
        </div>

        <div class="button" title="ellipse" (click)="add('ellipse')">
          <img ngSrc="../assets/ellipse.svg" alt="fail" height="20" width="20"/>
        </div>

        <!-- Tools -->
        <div class="button" title="copy" (click)="copy()">
          <img ngSrc="../assets/copy.svg" alt="fail" height="700" width="700"/>
        </div>

        <div class="button" (click)="delete()">delete</div>

        <div class="button" (click)="undo()">undo</div>

        <div class="button" (click)="redo()">redo</div>

        <div class="button" (click)="clear()">clear</div>

        <input type="color" class="palette" title="Palette" [(ngModel)]="color" (change)="fill()" />

        <!-- Save and Load -->
        <input type="text" #folderPath placeholder="Folder Path" />

        <input type="text" #fileName placeholder="File Name" />

        <input type="text" #extension placeholder="Extension" />

        <div class="button" title="save" (click)="save(folderPath.value, fileName.value, extension.value)">
          <img ngSrc="../assets/save.png" alt="fail" height="48" width="48"/>
        </div>

        <input type="text" #filePath placeholder="File Path" />

        <div class="button" title="load" (click)="load(filePath.value)">
          <img ngSrc="../assets/load.png" alt="fail" height="48" width="48"/>
        </div>
      </div>

      <div id="board"></div>
    </div>
  </body>
</html>
